.container {
  display: inline-flex;
}

.container.dots {
  gap: calc(var(--spacing) * 1);
}

.container.bars {
  gap: calc(var(--spacing) * 2);
}

.item {
  background-color: var(--color-text-primary);
  opacity: 0.24;
  transition: opacity var(--transition);
}

.container.bars > .item {
  border-radius: var(--radius-sm);
  width: calc(var(--spacing) * 8);
  height: calc(var(--spacing) * 2);
}

.container.dots > .item {
  border-radius: 100%;
  width: calc(var(--spacing) * 2);
  height: calc(var(--spacing) * 2);
}

.item.filled {
  opacity: 1;
}
