.input {
  width: 100%;
  padding: calc((var(--spacing) * 2) - 1px) calc((var(--spacing) * 3) - 1px);
  font-size: var(--font-size-md);
  line-height: var(--leading-size-md);
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow);
  outline: none;
  transition:
    border-color var(--transition),
    box-shadow var(--transition);
}

.input::placeholder {
  color: var(--color-text-secondary);
}

.input:focus {
  border-color: var(--color-border-focus);
  box-shadow:
    var(--shadow),
    0 0 0 4px var(--color-ring);
}

.input[aria-invalid="true"] {
  border-color: var(--color-border-error);
}

.input[aria-invalid="true"]:focus {
  border-color: var(--color-border-error);
  box-shadow:
    var(--shadow),
    0 0 0 4px var(--color-ring-desctructive);
}

.input:disabled {
  background-color: var(--color-bg-tertiary);
  cursor: not-allowed;
}
