.icon {
  flex-shrink: 0;
  display: inline-block;
  vertical-align: middle;
}

.sm {
  width: calc(var(--spacing) * 4);
  height: calc(var(--spacing) * 4);
}

.md {
  width: calc(var(--spacing) * 5);
  height: calc(var(--spacing) * 5);
}

.lg {
  width: calc(var(--spacing) * 6);
  height: calc(var(--spacing) * 6);
}
