.layout {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 4) 0;
  padding-top: calc(var(--spacing) * 4);
  padding-bottom: calc(var(--spacing) * 8);
}

@media (min-width: 768px) {
  .layout {
    gap: calc(var(--spacing) * 8) 0;
    padding-top: calc(var(--spacing) * 8);
    padding-bottom: calc(var(--spacing) * 30);
  }
}

.main {
  flex: 1;
}
