.wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 12);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(var(--spacing) * 4);
  padding-bottom: calc(var(--spacing) * 4);
  border-bottom: 1px solid var(--color-border-light);
}
