.container {
  width: 100%;
  margin: 0 auto;
  padding-left: calc(var(--spacing) * 4);
  padding-right: calc(var(--spacing) * 4);
}

@media (min-width: 768px) {
  .container {
    padding-left: calc(var(--spacing) * 10);
    padding-right: calc(var(--spacing) * 10);
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: calc(var(--spacing) * 20);
    padding-right: calc(var(--spacing) * 20);
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: calc(var(--spacing) * 280);
    padding-left: 0;
    padding-right: 0;
  }
}
