.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: calc(var(--spacing) * 6) calc(var(--spacing) * 4);
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
